@model IEnumerable<aula_youtube_tabelas_query_bruta.Models.Dominio.Entidades.Pedido>
@* @model IEnumerable<aula_youtube_tabelas_query_bruta.Models.Dominio.Views.Pedido> *@

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de pedidos</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                Cliente
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
        </tr>
}
    </tbody>
</table>
